@charset "utf-8";

* {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    position: fixed;
    background: #F4EDDD;
    background-size: cover;
    border-bottom: 2px solid #603813;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #F4EDDD;
    height: 82px;
    width: 1616px;
    gap: 50px;
}

.navegador{
    display: flex;
    justify-content: space-between;
    width: 389px;
}

.buscador{
    display: flex;
    align-items: center;
    border: 2px solid #603813;
    padding-right: 10px;
    gap: 20px;
    background-color: #EFEBE1;
}

a {
    color: #603813;
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    font-weight: 500;
}

input {
    height: 28px;
    width: 448px;
    padding-left: 10px;
    font-family: "Roboto Mono", monospace;
    font-size: 0.75em;
    background-color: #EFEBE1;
    border: 0px solid #603813;
}

a:hover {
    font-weight: 700;
    color: #AE4C61;
}

body {
    background-color: #F6D1CD;
}

h1{
    font-family: "Roboto Mono", monospace;
    font-size: 2.2em;
    font-weight: 700;
}

.intro {
    font-weight: 700;
    color: #603813;
    background-color: #F4EDDD;
    height: 400px;
    margin-left: 150px;
    margin-bottom: 80px;
    margin-right: 150px;
    padding-left: 100px;
    display: flex;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F6D1CD;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #603813;
    border-radius: 20px;
    margin-left: 40%;
    margin-right: 100px;
    height: 26px;
    width: 173px;
}

button:hover {
    background-color: #AE4C61;
}

.a-boton:hover{
    color: #F6D1CD;
    font-weight: 700;
}

.columnas {
    display: flex;
}

.presentacion {
    display: flex;
    background-color: #F4EDDD;
    height: 552px;
    width: 559px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-left: 2px solid #603813;
    margin-right: 150px;
    padding: 80px;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-size: 2em;
    font-weight: 700;
    color: #603813;
}

p, li {
    font-family: "Roboto mono", monospace;
    font-size: 0.9em;
    line-height: 160%;
    text-wrap: pretty;
    max-width: 80%;
    font-weight: 400;
    color: #373737;
}

.listas-principales {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F4EDDD;
    height: 712px;
    margin-left: 150px;
    margin-bottom: 0px;
    padding-left: 100px;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.footer {
    font-family: "Roboto Mono", monospace;
    font-size: 0.7em;
    font-weight: 100;
    color: #404040;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer:hover {
    font-size: 0.7em;
    font-weight: 400;
}